@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* Set the width and height of the scrollbar track */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Set the color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Set the color and width of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
  border: 3px solid transparent;
}
